$lightGrey: #fcfafd;
$white: #ffffff;
$darkPurple: #3a1e5c;
$purple: #7b19a8;
$lightPurple: #e3ccec;

.App {
  text-align: center;
  background-color: $lightGrey;
  overflow: hidden;
  .board {
    width: 100%;
    min-height: 70vh;
    margin: 20vh 0;
    background-color: $white;
    box-shadow: 0px 5px 30px -10px rgba($color: #000000, $alpha: 0.4);
    border-radius: 40px;
    position: relative;
    @media (max-width: 768px) {
      width: 90%;
      margin: 15vh auto;
    }
    .salary {
      position: absolute;
      left: -2%;
      top: 5%;
      background-color: $purple;
      color: $white;
      padding: 5px 40px;
      font-size: 30px;
      font-weight: 700;
      z-index: 11;
      @media (max-width: 768px) {
        top: 8%;
        font-size: 25px;
        left: -5%;
      }
    }
    .tail {
      width: 2%;
      height: 50px;
      background-color: $darkPurple;
      position: absolute;
      left: -2%;
      top: 8.5%;
      transform: skew(0, 50deg);
      @media (max-width: 768px) {
        left: -5%;
        width: 5%;
        top: 8.8%;
      }
    }
    .BtnsCon {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      @media (max-width: 768px) {
        top: 10px;
        transform: initial;
        direction: rtl;
      }
      button {
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        display: block;
        @media (max-width: 768px) {
          width: 30px;
          height: 30px;
          display: inline-block;
          margin-left: 4px;
        }
        svg {
          width: 70%;
          height: 70%;
          color: $white;
        }
        &.likeBtn {
          background-color: $darkPurple;
          margin-bottom: 15px;
        }
        &.cartBtn {
          background-color: $purple;
        }
      }
    }
    .itemControl {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(100%, -50%);
      height: 60%;
      width: 40px;
      @media (max-width: 768px) {
        width: 40%;
        left: 50%;
        top: 56%;
        height: auto;
        transform: translate(-50%, -50%);
        direction: rtl;
      }
      .itemWrap {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        @media (max-width: 768px) {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
        &::after {
          content: "";
          position: absolute;
          width: 400px;
          height: 400px;
          background-color: $darkPurple;
          border-radius: 50%;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          @media (max-width: 768px) {
            background-color: transparent;
          }
        }
        .number {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $white;
          font-weight: 700;
          z-index: 10;
          font-size: 25px;
          @media (max-width: 768px) {
            position: initial !important;
            transform: initial;
            color: $purple;
            font-size: 20px;
          }
        }
        button {
          border: none;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background: $purple;
          border: solid 2px $white;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          @media (max-width: 768px) {
            width: 30px;
            height: 30px;
          }
          svg {
            width: 80%;
            height: 80%;
            color: $white;
          }
          &.plusBtn {
            position: absolute;
            top: 30%;
            right: 0;
            transform: translateY(-50%);
            z-index: 10;
            @media (max-width: 768px) {
              position: initial;
              transform: initial;
            }
          }
          &.dashBtn {
            position: absolute;
            top: 70%;
            right: 0;
            transform: translateY(-50%);
            z-index: 10;
            @media (max-width: 768px) {
              position: initial;
              transform: initial;
            }
          }
        }
      }
    }
    [data-test-id="CircularProgressbarWithChildren"] {
      position: absolute;
      width: 100%;

      .CircularProgressbar {
        width: 18%;

        transform: translateY(-40%);
        z-index: 12;
        position: relative;
        @media (max-width: 768px) {
          width: 50%;
          transform: translateY(-60%);
        }
        .CircularProgressbar-path {
          stroke: $purple;
          stroke-width: 6px;
          @media (max-width: 768px) {
            stroke-width: 4px;
          }
        }
        .CircularProgressbar-trail {
          stroke: $lightPurple;
          stroke-width: 5px;
          @media (max-width: 768px) {
            stroke-width: 3px;
          }
        }
      }

      [data-test-id="CircularProgressbarWithChildren__children"] {
        margin-top: -25.2% !important;
        background: $white;
        width: 18% !important;
        left: 50%;
        transform: translateX(-50%) scale(0.7);
        border-radius: 50%;
        box-shadow: 0px 2px 10px -5px rgba($color: #000000, $alpha: 0.4);
        z-index: 12;
        @media (max-width: 768px) {
          width: 50% !important;
          margin-top: -80% !important;
        }
        .progressContent {
          .purpleText {
            color: $purple;
            font-size: 50px;
            font-weight: 600;
            line-height: 50px;
          }
          .darkGreyText {
            color: #333;
            font-size: 26px;
            text-transform: uppercase;
            font-weight: 600;
          }
          .lightGreyText {
            color: #777;
            text-transform: uppercase;
            font-weight: 600;
          }
        }
      }
    }
    .itemCon {
      padding: 100px 8% 40px;
      .itemCard {
        @media (max-width: 768px) {
          margin-bottom: 50px;
        }
        .archShape {
          // box-sizing: content-box;
          // width: 60px;
          // height: 60px;
          // background: $purple;
          // border-radius: 50%;
          // border-right:50px solid $darkPurple;
          // border-bottom: 50px solid $darkPurple;
          // border-left: 50px solid transparent;
          // border-top: 50px solid transparent;
          // transform: skew(0, 10deg);
        }

        .itemsImg {
          width: 100%;
          height: 250px;
          object-fit: contain;
        }
        .title {
          color: $darkPurple;
          font-weight: 800;
          line-height: 22px;
          margin: 10px 0 0;
          &.light {
            color: $purple;
          }
        }
        .subTitle {
          color: #999;
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 10px;
          @media (max-width: 768px) {
            color: #666;
          }
        }
        .des {
          color: #999;
          font-size: 12px;
          text-align: left;
          @media (max-width: 768px) {
            text-align: center;
            color: #666;
          }
        }
      }
    }
  }
}
